@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

/* Variable */

:root {
  /* цвет и заливка в разных местах */
  --black-basic: #000000;
  --white-basic: #ffffff;
  --gray-tech-fill: #A9A9A9;
  /* футер, хедер, темные кнопки, темный текст */
  --dark-blue-basic: #32425C;
  --dark-blue-fill: #293449;
  --nav-menu-active-fill: #1D2739;
  --user-link-active-fill: #161D29;
  --social-fill: #212A3A;
  --service-link-shadow: #405069;
  --user-button-click: #C5C5C5;
  --pagination-hover: #C5C5C5;
  /* фон заголовков и секций */
  --gray-basic: #F1F5F7;
  --section-head-fill: #F9F5F0;
  --catalog-head-fill: #F2F6F8;
  --filer-fill: #F7F3EC;
  /* кнопка */
  --button-border: #E5E5E5;
  /* карточки преимуществ */
  --yellow-card: #FFBF47;
  --blue-card: #3BBCE3;
  --magenta-card: #DC91D8;
  --lifht-dreen-card: #8ED78F;
  --yellow-light-card: #FFC047;
  --advantage-normal-bg: rgba(255, 255, 255, 0.3);
  --advantage-hover-bg: rgba(197, 197, 197, 0.3);
  --advantage-active-bg: rgba(169, 169, 169, 0.3);
  /* производители и каталог товаров*/
  --gray-border: #EAEAEA;
  /* красные кнопки */
  --red-basic: #EE3643;
  --red-button-click: #BA2732;
  --red-button-hover: #CA2C37;
  /* зеленые кнопки */
  --green-basis: #63A63E;
  --green-hover: #5FBB2D;
  --green-active: #518534;
  --green-button-border: #367315;
  /* текст - разное */
  --old-price-txt: #A9A9A9;
  --footer-yellow-link: #FFD180;
  /* форма обратной связи */
  --popup-write-fill: #F4F4F4;
  --popup-add-cart-fill: #F1F1F1;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black-basic);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* общие настройки */

/* контейнер-центровщик */

.container {
  width: 940px;
  padding: 0 30px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

/* основная красная кнопка */

.main-button {
  color: var(--white-basic);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--red-basic);
}

.main-button:hover, .main-button:focus {
  background-color: var(--red-button-hover);
}

.main-button:active {
  background-color: var(--red-button-click);
}

/* хлебные крошки */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-basic);
}

/* хедер */

.main-header {
  background-color: var(--gray-basic);
  padding-bottom: 60px;
}

.user-links-wrapper {
  background-color: var(--dark-blue-fill);
}

.user-links-flex-wrapper {
  display: flex;
}

.header-logo {
  background-color: var(--red-basic);
}

.header-logo:active {
  background-color: var(--red-button-click);
}

.user-links-wrapper a {
  color: var(--white-basic);
}

/* поле для поиска.  */

.user-search {
  background-color: transparent;
  border: none;
  outline: none;
}

.user-search::placeholder {
  color: var(--white-basic);
  /*  mozilla */
  opacity: 1;
}

.user-search:active, .user-search:focus {
  background-color: var(--white-basic);
  color: var(--black-basic);
  border: none;
}

.user-link:active {
  background-color: var(--user-link-active-fill);
  opacity: 0.5;
}

.user-link.not-empty {
  background-color: var(--red-basic);
}

.user-order {
  background-color: var(--green-basis);
}

.user-order:hover, .user-order:focus {
  background-color: var(--green-hover);
}

.user-order:active {
  background-color: var(--green-active);
  opacity: 0.5;
}

/* хедер. пользовательская часть */

.user-info-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.shop-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--red-basic);
}

.header-tel-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--red-basic);
  border: 3px solid var(--white-basic);
}

.header-addr {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue-basic);
}

.user-sign-button {
  font-size: 21px;
  line-height: 21px;
  color: inherit;
  background-color: var(--white-basic);
}

.noauth-user .user-sign-button:hover, .noauth-user .user-sign-button:focus {
  color: var(--red-basic);
}

.noauth-user .user-sign-button:active, .auth-user .user-sign-button:active {
  color: var(--user-button-click);
}

.user-page-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue-basic);
}

.user-page-link:hover, .user-page-link:focus {
  color: var(--red-basic);
}

.user-page-link:active {
  color: var(--user-button-click);
}

/* хедер. навигация */

.nav-list {
  /* !! флексы - на будущее*/
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--dark-blue-basic);
}

.nav-list .nav-link {
  color: var(--white-basic);
}

.nav-list .nav-link:hover, .nav-list .nav-link:focus {
  background-color: var(--dark-blue-fill);
}

.nav-list .nav-link:active {
  background-color: var(--nav-menu-active-fill);
  opacity: 0.5;
}

/* промоблок */

.promo {
  margin-top: 60px;
  margin-bottom: 60px;
}

.advantage-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--white-basic);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-areas: "card1 card2 card3" "slider slider card4" "slider slider card5";
}

.advantage-list-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.advantage-list-item:nth-child(1) {
  grid-area: card1;
  background-color: var(--yellow-card);
  background-image: url("../img/promo-1.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantage-list-item:nth-child(2) {
  grid-area: card2;
  background-color: var(--blue-card);
  background-image: url("../img/promo-2.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantage-list-item:nth-child(3) {
  grid-area: card3;
  background-color: var(--magenta-card);
  background-image: url("../img/promo-3.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantage-list-item:nth-child(4) {
  grid-area: card4;
  background-color: var(--lifht-dreen-card);
  background-image: url("../img/promo-4.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantage-list-item:nth-child(5) {
  grid-area: card5;
  background-color: var(--yellow-light-card);
  background-image: url("../img/promo-5.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.advantage-list-item.slider-item {
  grid-area: slider;
  /* сетка
  outline: 2px solid olive; */
}

.advantage-list-item a {
  background-color: var(--advantage-normal-bg);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white-basic);
}

.advantage-list-item a:hover, .advantage-list-item a:focus {
  background-color: var(--advantage-hover-bg);
}

.advantage-list-item a:active {
  background-color: var(--advantage-active-bg);
}

/* промоблок. слайдер. */

/* техническая заливка, если фоновая картинка не загрузится */

.promo-slider {
  background-color: var(--gray-tech-fill);
}

.promo-slider-list, .slider-pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--white-basic);
}

.slider-title {
  margin: 0;
  /*  padding: 0; */
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider-item:nth-child(1) {
  background-image: url("../img/slider/slider-perfo.jpg");
  background-repeat: no-repeat;
  /* временная высота  */
  /*  outline: 2px solid orangered; */
  min-height: 266px;
}

.promo-slider-item:nth-child(2) {
  background-image: url("../img/slider/slider-drill.jpg");
  background-repeat: no-repeat;
  /* временная высота  */
  min-height: 266px;
}

/* секции */

.best-seller {
  margin-bottom: 70px;
}

.section-header {
  background-color: var(--section-head-fill);
  margin-bottom: 20px;
}

.section-title, .service-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-blue-basic);
  /* обнуляем  отступы для заголовков секций */
  margin: 0;
}

.service .section-title, .contact .section-title, .about .section-title {
  color: var(--black-basic);
}

/* список товаров */

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  text-align: center;
}

.product-item {
  width: 218px;
  height: 316px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--gray-border);
}

.product-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.buy-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white-basic);
  background-color: var(--green-basis);
  box-shadow: inset 0px -3px 0px var(--green-button-border);
  border-radius: 2px;
}

.buy-button:hover, .buy-button:focus {
  background-color: var(--green-hover);
}

.buy-button:active {
  background-color: var(--green-active);
}

.add-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark-blue-basic);
  border: 3px solid var(--green-basis);
  border-radius: 2px;
}

.add-bookmark:hover, .add-bookmark:focus {
  border: 3px solid var(--dark-blue-basic);
}

.add-bookmark:active {
  opacity: 0.5;
}

.price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--white-basic);
  text-transform: uppercase;
}

.old-price {
  color: var(--gray-tech-fill);
}

.actual-price {
  background-image: url("../img/red-arrow-btn.svg");
  background-repeat: no-repeat;
  /* временно */
  background-position: center;
}

/* производители */

.manufacturer {
  /* margin-bottom: 70px; */
  /*  с учетом отступа во флексах получается 50px */
  margin-bottom: 50px;
}

/* .manufacturer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.manufacturer-item {
  border: 1px solid var(--gray-border); */

/*  временно */

/*  text-align: center;
}
*/

/* .manufacturer-link {
  vertical-align: middle;
  border: 1px solid var(--gray-border);
} */

/* реализовано более красивое переполнение на флексах */

.manufacturer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -20px;
}

.manufacturer-item {
  width: 218px;
  height: 143px;
  border: 1px solid var(--gray-border);
  margin-bottom: 20px;
  margin-right: 20px;
}

/* сервисы */

.service {
  background-color: var(--gray-basic);
  padding-top: 65px;
  margin-bottom: 70px;
}

.service-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.service .section-title {
  grid-column: 1 / -1;
}

.section-text {
  grid-column: 1 / -1;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.service-link {
  color: var(--white-basic);
  background-color: var(--dark-blue-basic);
  box-shadow: 0px 1px 0px var(--dark-blue-fill), inset 0px 1px 0px var( --service-link-shadow);
}

.service-link.active {
  color: var(--dark-blue-basic);
  background-color: var(--white-basic);
  box-shadow: 0px 1px 0px var(--white-basic);
}

.service-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-blue-basic);
}

.service-slider-list, .transport-list, .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* временно отключено
.service-desc.transport{
  background-image: url("../img/slider/slider2-transport.png");
  background-repeat: no-repeat;
}
.service-desc.warranty{
  background-image: url("../img/slider/slider-2-guarantee.png");
  background-repeat: no-repeat;
}
.service-desc.finance{
  background-image: url("../img/slider/slider-2-credit.png");
  background-repeat: no-repeat;
}
 */

/* обертка над двумя последними секциями */

.company-info-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 70px;
}

/* футер */

.site-footer {
  color: var(--gray-basic);
  background-color: var(--dark-blue-basic);
}

.footer-links {
  padding-bottom: 54px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "company nav " "company production";
}

.footer-company-info {
  width: 380px;
  grid-area: company;
  /*  сетка */
  /*  outline: 1px solid olive; */
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-area: nav;
  display: flex;
  /*  сетка */
  /*  outline: 1px solid olive; */
}

.production-list {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-area: production;
  display: flex;
  /*  сетка */
  /*  outline: 1px solid olive; */
}

.footer-contact-text {
  margin-bottom: 0;
}

.footer-contact-text a, .footer-nav-link {
  color: var(--gray-basic);
}

.footer-production-link, .footer-author-link {
  color: var(--footer-yellow-link);
}

.footer-nav-link:hover, .footer-nav-link:focus, .footer-production-link:hover, .footer-production-link:focus, .footer-author-link:hover, .footer-author-link:focus {
  text-decoration: underline;
}

.footer-nav-link:active, .footer-production-link:active {
  opacity: 0.5;
}

.footer-author-link:active {
  color: var(--red-basic);
}

.copiright {
  color: var(--white-basic);
  background-color: var(--dark-blue-fill);
  font-size: 16px;
  line-height: 18px;
}

.copiright-flex-wrapper {
  display: flex;
}

/* страница каталога */

.catalog-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "brcrmbs brcrmbs brcrmbs brcrmbs" "title title title title" "form  sort sort sort" "form catalog catalog catalog";
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.main-catalog-page .breadcrumbs {
  grid-area: brcrmbs;
  /*  outline: 2px solid salmon; */
}

.catalog-head {
  grid-area: title;
  background-color: var(--catalog-head-fill);
  /* outline: 2px solid salmon; */
}

.catalog-form-head, .price-select {
  background-color: var(--filer-fill);
}

/* форма */

.catalog-section-form {
  grid-area: form;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  /*  outline: 2px solid salmon; */
}

.catalog-form-title, .catalog-sort-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

input[name="txt-price-min"], input[name="txt-price-max"] {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  background-color: var(--filer-fill);
}

.form-label {
  font-size: 15px;
  line-height: 19px;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--button-border);
}

.filter-button:active {
  color: var(--black-basic);
}

/* блок сортировки */

.catalog-sort {
  grid-area: sort;
  /* в строчку, на флексах */
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background-color: var(--filer-fill);
  /* outline: 2px solid salmon; */
}

.sort-param-list, .sort-kind-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-param-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--black-basic);
  opacity: 0.3;
}

.sort-param-link.selected {
  color: var(--red-basic);
  opacity: 1;
}

.sort-param-link:not(.selected) {
  border-bottom: 1px dotted var(--red-basic);
}

.sort-param-link:hover {
  border-bottom: 1px solid var(--red-basic);
}

/* страница каталога. список товаров */

.main-catalog-page .catalog-data {
  grid-area: catalog;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  border: 1px solid var(--button-border);
  border-radius: 2px;
}

.pagination-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-basic);
}

.pagination-item:hover, .pagination-item:focus {
  border: 1px solid var(--pagination-hover);
}

.pagination-item:active {
  border: 1px solid var(--red-basic);
}

.pagination-item.current {
  background-color: var(--red-basic);
}

.pagination-item.current a {
  color: var(--white-basic);
}

.product-info {
  background-color: var(--gray-basic);
  padding-top: 64px;
  padding-bottom: 68px;
}
